---
import BaseLayout from "../../public/layouts/BaseLayout.astro";

const pageTitle = "";

---
<link rel="stylesheet" href="/FRONT-DB/src/styles/global.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<title>HOME</title>

<BaseLayout />

<body>
    <div class="main-title">Bienvenido a la nueva era... SUPERMARKET!!!</div>
    <div class="main-conteiner">
        <div class="icon"><i class="fa-solid fa-minus">x</i></div>
        <div class="icon"><i class="fa-regular fa-square">■</i></div>
        <div class="icon"><i class="fa-solid fa-x">-</i></div>
        <div class="main-window"></div>
    </div>
</body>
